.app__title{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(12, 12, 12, .5);
    z-index: 10;

}
.app__title h2 {
    text-align: center;
    text-transform: uppercase;
    color: white;
}


.chiTiet__content {

    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 65px auto 0;
}
.chiTiet__content--left{
    position: relative;
}
.glasses__info{
    position: absolute;
    top: 21%;
    left: 25%;
}
.glasses__info--detail{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 110px;
    width: 100%;
    background-color: rgba(150, 142, 71, 0.5);
}
.glasses__info--detail .glasses__title{
    padding-left: 15px;
    font-size: 20px;
    font-weight: 500;
    color: blue;
    text-transform: uppercase;
    margin: 0;
}
.glasses__info--detail .glasses_desc{
    padding-left: 15px;
    font-size: 14px;
}
.glasses__info--detail .glasses__price{
    position: absolute;
    bottom: -12px;
    right: 2%;
    height: 40px;
    width: 40px;
    border: 1px solid yellow;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    line-height: 40px;
    font-size: 16px
    
}

.glasses__info--detail .glasses__price span{
    font-size: 10px;
    margin-left: 3px;
}
.glasses__content{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin:10px auto 20px;
    background-color: rgb(80, 143, 168);
    border-radius: 50px;

}
